/*

Style sheet for Bootstrap portfolio

*/

* {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
}

h1 {
    font-family: 'Georgia', Times, Times New Roman, serif;
    text-align: left; 
    padding-left:20px; 
    padding-top:20px; 
    color:#4aaaa5
}

.portfolioLinkImg{
    box-sizing: border-box;
    height:125px; 
    width:150px;
}
.portfolioLinkImgTag {
    text-align:center;
    position:relative; 
    width:150px; 
    height:30px; 
    margin-top:80px; 
    background:#4aaaa5;
    font-size: 14px;
    color: #ffffff;
}
.yourNameDiv {
    background:#4aaaa5;
    color:white; 
    font-weight: bold; 
    font-size:20px; 
    padding-top:10px; 
    width:150px; 
    height:50px; 
    text-align: center;
}

.bodyBkg{
    background: #cccccc;
    border-style:  inset;
    border-width: 2px;
    border-right-style: none;
    border-left-style: none;
    height: 900px;
    width: 100%; 
    background-size: cover;
    background-image: url("../images/backgroundImg.png");
    background-position: center;

}

.mainContentBlock {
    background: #ffffff;
    width: 960px;
    height: auto;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 100px;
    padding-bottom:30px;
    border-color: #cccccc;
}

/* Medium Screens*/
/* @media screen and (max-width: 970px){
    header {
        background-color: white;
    }
    body {
        background-color: red;
    }
} */

/* Small Screens*/
@media screen and (max-width: 750px){
    .mainContentBlock {
        width: 100%;
        height: 100%;
        margin: 0px;
    }
    
}

/* Extra Small Screens*/
/* @media screen and (max-width: 540px){
    .mainContentBlock {
        width: 100%;
        height: 100%;
        margin: 0px;
    } 
}*/